* {
  border: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  color: rgb(0, 0, 0);
  font-family: "Faustina", serif;
}

body {
  background-color: rgb(233, 233, 233);
  width: 100%;
  max-width: 1780px;
  margin: 0 auto;
}

/********* HEADER **********/

.Header {
  position: fixed;
  top: 0;
  z-index: 1000;
  width: 100%;
  display: flex;
  justify-content: space-between;
  background: rgb(233, 233, 233);
  padding: 0.3em 0.5em;
  align-items: center;
  height: 3em;
  box-shadow: 6px 6px 6px -5px rgba(0, 0, 0, 0.75);
  max-width: 1780px;
  margin: 0 auto;
}

.Header > img {
  width: 1.5em;
}

.Header > img:hover {
  zoom: 110%;
  transition: 0.3s ease;
}

.MenuDesktop {
  display: none;
}

.MenuBurger {
  position: fixed;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  top: 3em;
  left: 100em;
  background-color: rgb(233, 233, 233);
  width: 100%;
  transition: left 0.8s ease;
  border-bottom: 1px solid #c8714a;
  border-bottom-left-radius: 0.5em;
  border-bottom-right-radius: 0.5em;
  border-left: 1px solid #c8714a;
  box-shadow: 0px 5px 5px -5px rgba(0, 0, 0, 0.75);
}

.MenuBurger.active {
  left: 0;
}

.MenuBurger > a {
  width: 100%;
  height: 3em;
  padding-top: 0.7em;
}

.MenuBurger > a:hover {
  background-color: #c8714a;
  transition: 1s ease;
  border-radius: 0.5em;
  box-shadow: 0px 5px 5px -5px rgba(0, 0, 0, 0.75);
}

/********** DISPONIBILITE **********/

.MainContainer {
  max-width: 1780px;
  margin: 0 auto;
  width: 100%;
}

.Dispo {
  display: flex;
  justify-content: start;
  gap: 1em;
  align-items: center;
  text-align: center;
  margin: 5em 1em 2em 1em;
  border: 1px solid rgb(179, 179, 179);
  padding: 0.3em 0.3em 0.3em 0.9em;
  border-radius: 2em;
  font-size: 0.8em;
  background-color: #dddbdb;
}

.Dot {
  position: relative;
  width: 0.5em;
  height: 0.5em;
  background: #22c55e;
  border-radius: 50%;
  animation: blink 3s infinite;
  z-index: 0;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.3;
  }
  100% {
    opacity: 1;
  }
}
/********** AVATAR **********/

.Avatar {
  margin: 0em 2em;
}

.Avatar > img {
  width: 8em;
  border-top-left-radius: 2em;
  border-top-right-radius: 2em;
}

.Avatar > div {
  display: flex;
  align-items: center;
  text-align: center;
  margin: -0.25em 0em 0em -1em;
  gap: 0.7em;
  padding: 0.3em 0.5em;
  width: 12em;
  font-size: 0.8em;
  color: #c8714a;
  background: rgb(235, 235, 235);
  border-radius: 1em;
  box-shadow: 5px 5px 20px -5px rgba(0, 0, 0, 0.75);
}

.Avatar > div > img {
  width: 1.5em;
}

.Avatar > div > p {
  color: #c8714a;
}

/********** PRESENTATION **********/

.Presentation {
  margin: 1em 1em;
}

.Presentation > h2 {
  font-size: 2em;
}

.Presentation > h3 {
  font-size: 2em;
  font-style: italic;
  color: #c8714a;
  font-weight: 500;
}

.Presentation > p {
  font-weight: 700;
}

.Presentation > figcaption {
  margin: 1em 0em;
  font-size: 0.9em;
  font-weight: lighter;
}

.PresentationButton {
  display: flex;
  flex-direction: column;
  align-items: flex start;
  justify-content: start;
  text-align: center;
  margin-bottom: 2em;
}

.PresentationButton > a:last-child {
  border: 1px solid rgba(179, 179, 179, 179);
  border-radius: 0.5em;
  height: 3.4em;
  width: 15.6em;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  font-size: 0.8em;
}

.PresentationButton > a:first-child {
  border: 1px solid rgba(179, 179, 179, 179);
  border-radius: 0.5em;
  height: 3.4em;
  width: 15.6em;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  background: #1e3a5f;
  color: white;
  font-weight: bold;
  margin-bottom: 1em;
  font-size: 0.8em;
}

.PresentationButton > a:first-child:hover {
  transform: scale(101%);
  box-shadow: 1px 1px 10px -1px rgba(49, 49, 49, 0.75);
  background: #254774;
  transition: 0.3s ease;
}

.PresentationButton > a:last-child:hover {
  color: #c8714a;
  border: 1px solid #c8714a;
  transition: 0.3s ease;
}

/********** STATS **********/

.Stats {
  display: flex;
  align-items: center;
  text-align: center;
  background: #d8d4cc;
  width: 100%;
}

.Stats > div {
  border: 1px solid #d1cec5;
  width: 100%;
  height: 5em;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.Stats > div > h3 {
  color: #c8714a;
}

.Stats > div > p {
  font-size: 0.8em;
  font-weight: 200;
}

/********** A PROPOS **********/

.InfoPerso {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 2em 0em;
  width: 100%;
}
.Apropos {
  margin: 0em 0.5em;
}

.Apropos > h1 {
  font-size: 0.8em;
  font-weight: 500;
  color: #c8714a;
  margin-left: 1em;
}

.Apropos > h2 {
  font-size: 2em;
  margin: 0.1em 1em 0.3em 0.3em;
}

.Apropos > h2 > span {
  font-style: italic;
  color: #c8714a;
  margin-right: 0.2em;
}

.Apropos > p {
  margin: 0em 1em 2em 0.6em;
  width: 95%;
}

.Formation,
.Zone,
.Goal,
.Langage {
  display: flex;
  flex-direction: column;
  align-items: start;
  border: 1px solid #b8b5ae;
  border-radius: 1em;
  background: #d8d4cc;
  width: 18em;
  height: 7em;
  margin: 0em 1em 1em 0.5em;
}

.Formation > img,
.Zone > img,
.Goal > img,
.Langage > img {
  width: 1.7em;
  margin: 1em 0em 0em 1em;
}

.Formation > p,
.Zone > p,
.Goal > p,
.Langage > p {
  margin: 0.5em 0em 0.2em 1em;
  font-size: 0.8em;
}

/********** SKILLS **********/

.Skills {
  background: #d8d4cc;
  border-top: 1px solid #b8b5ae;
  border-bottom: 1px solid #b8b5ae;
  padding: 1em 1em;
}

.Skills > div > h1 {
  font-size: 0.8em;
  font-weight: 500;
  color: #c8714a;
}

.Skills > div > h2 {
  font-size: 2em;
}

.Skills > div > h2 > span {
  color: #c8714a;
  font-style: italic;
}

.Skills > div > p {
  font-size: 0.8em;
  font-weight: 200;
  color: gray;
  margin-bottom: 2em;
}

.Technos {
  display: flex;
  flex-wrap: wrap;
  align-items: start;
  text-align: start;
  gap: 1em;
  width: 100%;
}

.HardSkills,
.SoftSkills,
.Decouverte {
  border: 1px solid #b8b5ae;
  border-radius: 1em;
  padding: 1em;
  flex: 1;
  min-width: 18em;
}

/********** HARDSKILLS **********/

.HardSkillsTitle {
  display: flex;
  align-items: center;
  margin-bottom: 1em;
}

.HardSkillsTitle > img {
  width: 2em;
  margin-right: 1em;
}

.HardSkillsTitle > h4 {
  font-size: 0.9em;
  font-weight: 500;
}

.OrgaSkills {
  display: flex;
  flex-direction: column;
}

.Front > div,
.Back > div,
.Outils > div,
.Donnees > div {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5em;
}

.Front > div > p,
.Back > div > p,
.Outils > div > p,
.Donnees > div > p {
  font-weight: 500;
  font-size: 0.9em;
}

.Front > div > p:last-child,
.Back > div > p:last-child,
.Outils > div > p:last-child,
.Donnees > div > p:last-child {
  color: #a54d25;
}

.HrFront,
.HrBack,
.HrOutils,
.HrDonnees {
  width: 100%;
  height: 0.35em;
  background: rgb(196, 195, 195);
  border-radius: 0.3em;
}

.HrFront > hr {
  width: 70%;
  height: 100%;
  border-radius: 0.3em;
  background: linear-gradient(
    90deg,
    rgba(32, 59, 95, 1) 0%,
    rgba(197, 112, 75, 1) 100%
  );
}

.HrBack > hr {
  width: 60%;
  height: 100%;
  border-radius: 0.3em;
  background: linear-gradient(
    90deg,
    rgba(32, 59, 95, 1) 0%,
    rgba(197, 112, 75, 1) 100%
  );
}

.HrOutils > hr {
  width: 60%;
  height: 100%;
  border-radius: 0.3em;
  background: linear-gradient(
    90deg,
    rgba(32, 59, 95, 1) 0%,
    rgba(197, 112, 75, 1) 100%
  );
}

.HrDonnees > hr {
  width: 50%;
  height: 100%;
  border-radius: 0.3em;
  background: linear-gradient(
    90deg,
    rgba(32, 59, 95, 1) 0%,
    rgba(197, 112, 75, 1) 100%
  );
}

.HardSkillsList {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5em;
  margin-top: 1em;
}

.HardSkillsList > p {
  border: 1px solid #b8b5ae;
  padding: 0.5em 1.4em;
  border-radius: 1.2em;
  font-weight: 600;
  font-size: 0.8em;
  background: #d4d3d3;
}

/********** SOFTSKILLS **********/

.SoftSkillsTitle {
  display: flex;
  align-items: center;
  margin-bottom: 1em;
}

.SoftSkillsTitle > img {
  width: 2em;
  margin-right: 1em;
}

.SoftSkillsTitle > h4 {
  font-size: 0.9em;
  font-weight: 500;
}

.SoftSkillsList {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5em;
  margin-top: 1em;
}

.SoftSkillsList > p {
  border: 1px solid #c8714a;
  color: #a54d25;
  font-weight: 600;
  padding: 0.5em 1.4em;
  border-radius: 1.2em;
  font-size: 0.8em;
  background: #e4cebca6;
}

/********** DECOUVERTE **********/

.Decouverte {
  margin: 1em 0em;
}

.DecouverteTitle {
  display: flex;
  align-items: center;
  margin-bottom: 1em;
}

.DecouverteTitle > img {
  width: 2em;
  margin-right: 1em;
}

.DecouverteTitle > h4 {
  font-size: 0.9em;
  font-weight: 500;
}

.DecouverteList {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5em;
  margin-top: 1em;
}

.DecouverteList > p {
  border: 1px solid #b8b5ae;
  color: rgb(33, 33, 102);
  font-weight: 600;
  padding: 0.5em 1.4em;
  border-radius: 1.2em;
  font-size: 0.8em;
  background: #d1d1da;
}

/********** PROJETS **********/

.ProjectTitle {
  padding: 1em;
}

.ProjectTitle > h1 {
  font-size: 0.8em;
  font-weight: 500;
  color: #c8714a;
}

.ProjectTitle > h2 {
  font-size: 2em;
}

.ProjectTitle > h2 > span {
  color: #c8714a;
  font-style: italic;
}

.ProjectTitle > p {
  font-size: 0.8em;
  font-weight: 200;
  color: gray;
  margin-bottom: 1em;
}
.ProjectCard {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1em;
}

.FlipCard {
  position: relative;
  perspective: 1000px;
  cursor: pointer;
  height: 17.4em;
  width: 18em;
  align-items: center;
  text-align: center;
}

.FlipCardFront *,
.FlipCardBack * {
  pointer-events: none;
}

.FlipCardRotate {
  position: relative;
  width: 100%;
  height: 89%;
  transform-style: preserve-3d;
  transition: transform 0.6s ease;
}

.FlipCard.flipped .FlipCardRotate {
  transform: rotateY(180deg);
}

.FlipCardBack {
  transform: rotateY(180deg);
}

.FlipCardFront,
.FlipCardBack {
  position: absolute;
  inset: 0;
  backface-visibility: hidden;
  border-radius: 16px;
  border: 1px solid rgb(184, 183, 183);
  width: 18em;
  box-shadow: 0px 0px 8px -4px rgba(0, 0, 0, 0.73);
}

.FlipCardFront > img,
.FlipCardBack > img {
  width: 100%;
  border-top-right-radius: 1em;
  border-top-left-radius: 1em;
  height: 10em;
}

.FlipCardFront > p {
  display: flex;
  justify-content: center;
  background: #ede9e1;
  border-bottom-left-radius: 1em;
  border-bottom-right-radius: 1em;
  font-size: 0.8em;
  align-items: center;
  height: 2.5em;
}

.FlipCardFront > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0em 1em;
  background: white;
  height: 3em;
}

.FlipCardFront > div > p {
  border: 1px solid #a54d25;
  color: #a54d25;
  background: #f9f0eb;
  padding: 0.2em 0.5em;
  border-radius: 2em;
}

.FlipCardBack {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  text-align: start;
}

.FlipCardBack > div:first-child {
  margin: 1em 1em 2em 1em;
}

.FlipCardBack > div:first-child > h2 {
  margin-bottom: 0.3em;
}

.FlipCardBack > div:first-child > p {
  font-size: 0.8em;
  font-weight: 100;
}

.FlipCardBackStack {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0em 1em;
}

.FlipCardBackStack > p {
  border: 1px solid rgb(160, 160, 160);
  background: rgba(204, 199, 194, 0.363);
  padding: 0.3em 0.8em;
  margin: 0em 0.5em 0.5em 0em;
  border-radius: 1em;
  font-size: 0.8em;
}

.FlipCardBack > ul > li > a {
  margin: 0.3em 0em 0em 1em;
  font-size: 0.8em;
  color: #a54d25;
  font-weight: 600;
  pointer-events: auto;
}

/********** CONTACT **********/

.ContactContainer {
  background: #d8d4cc;
  padding-bottom: 1em;
}

.ContactTitle {
  padding: 1em;
  width: 100%;
  border-top: 1px solid #d1d1da;
}

.ContactTitle > h1 {
  font-size: 0.8em;
  font-weight: 500;
  color: #c8714a;
}

.ContactTitle > h2 {
  font-size: 2em;
}

.ContactTitle > h2 > span {
  color: #c8714a;
  font-style: italic;
}

.ContactTitle > p {
  font-size: 0.8em;
  font-weight: 200;
  color: gray;
  margin-bottom: 1em;
}

.Email,
.Linkedin,
.Github,
.Smartphone {
  border: 1px solid gray;
  margin-bottom: 1em;
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  gap: 1em;
  margin: 0em 1em 1em 1em;
  background: rgb(228, 228, 228);
  padding: 0.4em 0.8em;
  border-radius: 0.7em;
}

.Email > img,
.Linkedin > img,
.Github > img,
.Smartphone > img {
  width: 2em;
  background-color: #b6b4af;
  padding: 0.3em;
  border-radius: 0.4em;
}

.Email > div,
.Linkedin > div,
.Github > div,
.Smartphone > div {
  flex: 1;
  min-width: 0;
  margin-left: 0;
}

.Email > p,
.Linkedin > p,
.Github > p,
.Smartphone > p {
  margin-left: auto;
}

.Email:hover,
.Linkedin:hover,
.Github:hover,
.Smartphone:hover {
  border: 1px solid #c8714a;
  transform: scale(102%);
  transition: 0.3s ease;
  box-shadow: 0px 0px 8px -4px rgba(0, 0, 0, 0.73);
}

.Email > div > p:first-child,
.Linkedin > div > p:first-child,
.Github > div > p:first-child,
.Smartphone > div > p:first-child {
  color: rgb(87, 87, 87);
  font-weight: bold;
  font-size: 0.7em;
}

.Email > div > li > a,
.Linkedin > div > li > a,
.Github > div > li > a,
.Smartphone > div > p:last-child {
  font-size: 0.8em;
}

/********** FOOTER **********/

footer {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 3em;
  background: #1a1a2e;
}

footer > p {
  width: 20em;
  font-size: 0.8em;
  color: rgb(197, 197, 197);
}

footer > p:last-child {
  margin-bottom: 0.5em;
}

footer > p > span {
  color: #c8714a;
}

/********** MEDIA QUERY **********/

@media screen and (min-width: 360px) {
  .Formation,
  .Zone,
  .Goal,
  .Langage {
    width: 20em;
  }

  .FlipCardFront,
  .FlipCardBack {
    width: 20em;
    margin-left: -1em;
  }

  /* .Email > div {
    margin-left: -6.5em;
  }
  .Linkedin > div {
    margin-left: -3.5em;
  }

  .Github > div {
    margin-left: -6em;
  }

  .Smartphone > div {
    margin-left: -9.3em;
  } */
}

@media screen and (min-width: 390px) {
  .Formation,
  .Zone,
  .Goal,
  .Langage {
    width: 22em;
  }

  .FlipCardFront,
  .FlipCardBack {
    width: 22em;
    margin-left: -2em;
  }
}

@media screen and (min-width: 413px) {
  .Formation,
  .Zone,
  .Goal,
  .Langage {
    width: 23em;
  }

  .FlipCardFront,
  .FlipCardBack {
    width: 23em;
    margin-left: -2.5em;
  }
}

@media screen and (min-width: 440px) {
  .Formation,
  .Zone,
  .Goal,
  .Langage {
    width: 24em;
  }

  .FlipCardFront,
  .FlipCardBack {
    width: 24em;
    margin-left: -3em;
  }
}

@media screen and (min-width: 605px) {
  .ProjectCard {
    gap: 2em;
    margin: 0em 1em;
  }
}

@media screen and (min-width: 652px) {
  .ProjectCard {
    gap: 2.3em;
  }
}

@media screen and (min-width: 660px) {
  .ProjectCard {
    gap: 2.5em;
  }
}

@media screen and (min-width: 670px) {
  .ProjectCard {
    margin: 0em 2em;
  }
}

@media screen and (min-width: 730px) {
  .ProjectCard {
    margin: 0em 4em;
  }
}

@media screen and (min-width: 768px) {
  .Header > h3 {
    font-size: 1.5em;
  }

  .Header > img {
    width: 2em;
  }

  .MenuBurger > a {
    font-size: 1.5em;
  }

  .Dispo {
    height: 3em;
    margin: 8em 2em 5em 2em;
  }

  .Dispo > span {
    margin-left: 1em;
    width: 1em;
    height: 1em;
  }

  .Dispo > p {
    font-size: 1.5em;
  }

  .PresentationContainer {
    display: flex;
    flex-direction: row-reverse;
    margin: 0em 2em 0em 2em;
  }

  .Avatar > img {
    width: 10em;
  }

  .Avatar > div {
    width: 14.5em;
    height: 3em;
  }

  .Avatar > div > img {
    width: 2em;
  }

  .Avatar > div > p {
    font-size: 1.3em;
  }

  .Presentation > h2,
  .Presentation > h3 {
    font-size: 3em;
  }

  .Presentation > p {
    font-size: 1.5em;
  }

  .Presentation > figcaption {
    font-size: 1.3em;
  }

  .PresentationButton {
    display: flex;
    flex-direction: row;
    gap: 1em;
  }

  .PresentationButton > a:first-child,
  .PresentationButton > a:last-child {
    width: 10em;
    height: 3em;
    font-size: 1.2em;
  }

  .Stats > div > h3 {
    font-size: 1.7em;
  }

  .Stats > div > p {
    font-size: 1.1em;
  }

  .Apropos > h1 {
    font-size: 1.1em;
  }

  .Apropos > h2 {
    font-size: 3em;
  }

  .Apropos > p {
    font-size: 1.3em;
  }

  .CaracContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .Formation,
  .Zone,
  .Goal,
  .Langage {
    width: 22em;
    height: 10em;
  }

  .Formation > img,
  .Zone > img,
  .Goal > img,
  .Langage > img {
    width: 2.2em;
  }

  .Formation > p,
  .Zone > p,
  .Goal > p,
  .Langage > p {
    font-size: 1.2em;
  }

  .SoftAndDecouverte {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
  }

  .SoftSkills,
  .Decouverte {
    height: 14em;
    margin: 0;
  }

  .Skills > div > h1 {
    font-size: 1.1em;
  }

  .Skills > div > h2 {
    font-size: 3em;
  }

  .Skills > div > p {
    font-size: 1.3em;
  }

  .HardSkillsTitle > img,
  .SoftSkillsTitle > img,
  .DecouverteTitle > img {
    width: 3em;
  }

  .HardSkillsTitle > h4,
  .SoftSkillsTitle > h4,
  .DecouverteTitle > h4 {
    font-size: 1.6em;
  }

  .Front > div > p,
  .Back > div > p,
  .Outils > div > p,
  .Donnees > div > p {
    font-size: 1.2em;
  }

  .HardSkillsList > p,
  .SoftSkillsList > p,
  .DecouverteList > p {
    font-size: 1em;
  }

  .ProjectTitle > h1 {
    font-size: 1.1em;
  }

  .ProjectTitle > h2 {
    font-size: 3em;
  }

  .ProjectTitle > p {
    font-size: 1.3em;
  }

  .ProjectCard {
    justify-content: space-around;
    margin: 0em 1em;
  }

  .FlipCardFront {
    width: 22em;
    height: 16em;
  }

  .FlipCardFront:first-child,
  .FlipCardFront:nth-child(3) {
    margin-left: -2em;
  }

  .FlipCardFront:last-child {
    margin-left: -4em;
  }

  .FlipCardFront > div > h3 {
    font-size: 1.3em;
  }

  .FlipCardFront > div > p {
    font-size: 1.2em;
  }

  .FlipCardFront > p {
    font-size: 1em;
  }

  .FlipCardBack {
    width: 22em;
    height: 16em;
    margin-left: -2em;
  }

  .FlipCardBack > div > h2 {
    font-size: 1.5em;
  }

  .FlipCardBack > div:first-child > p {
    font-size: 1em;
    margin-bottom: -1em;
  }

  .FlipCardBackStack > p {
    font-size: 1.1em;
    margin: 0.2em;
  }

  .FlipCardBack > ul {
    margin-top: 1em;
  }

  .FlipCardBack > ul > li > a {
    font-size: 1.3em;
  }

  .ContactTitle > h1 {
    font-size: 1.1em;
  }

  .ContactTitle > h2 {
    font-size: 3em;
  }

  .ContactTitle > p {
    font-size: 1.3em;
  }

  .Email,
  .Linkedin,
  .Github,
  .Smartphone {
    height: 4em;
  }

  .Email > img,
  .Linkedin > img,
  .Github > img,
  .Smartphone > img {
    width: 2.7em;
  }

  .Email > div > p:first-child,
  .Linkedin > div > p:first-child,
  .Github > div > p:first-child,
  .Smartphone > div > p:first-child {
    font-size: 1.3em;
  }

  .Email > div > li > a,
  .Linkedin > div > li > a,
  .Github > div > li > a,
  .Smartphone > div > li > a {
    font-size: 1.3em;
  }

  .Email > p,
  .Linkedin > p,
  .Github > p,
  .Smartphone > p {
    font-size: 1.5em;
  }

  footer {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    text-align: end;
    padding: 1em;
  }

  footer > p {
    font-size: 1.2em;
  }
}

@media screen and (min-width: 833px) {
  .FlipCard {
    margin-right: 2em;
  }

  .FlipCardFront {
    width: 24em;
  }

  .FlipCardBack {
    width: 24em;
    margin-left: -4em;
  }
}

@media screen and (min-width: 1280px) {
  .MenuDesktop {
    display: flex;
    justify-content: space-evenly;
    width: 25em;
  }

  .MenuDesktop > a:hover {
    color: #a54d25;
    transition: 0.3s ease;
    border-bottom: 1px solid #a54d25;
  }

  .Header > img {
    display: none;
  }

  .MenuBurger {
    display: none;
  }

  .PresentationContainer {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .Presentation > figcaption {
    padding-right: 13em;
  }

  .Apropos > p {
    padding-right: 25em;
  }

  .Technos {
    display: flex;
    flex-wrap: nowrap;
  }

  .SoftAndDecouverte {
    display: flex;
    flex-wrap: nowrap;
  }

  .HardSkills,
  .SoftAndDecouverte {
    width: 66%;
  }

  .SoftSkills,
  .Decouverte {
    height: 29.6em;
  }

  .FlipCardBackStack > p {
    font-size: 0.9em;
  }

  .LinkContainer {
    display: flex;
    justify-content: center;
  }

  .EmailLinkedin,
  .GithubSmartphone {
    display: flex;
    flex-direction: column;
  }

  .Email,
  .Linkedin,
  .Github,
  .Smartphone {
    width: 35em;
  }

  Footer {
    height: 4em;
  }
}

@media screen and (min-width: 1380px) {
  .ProjectCard {
    gap: 3em;
  }

  .SoftSkills,
  .Decouverte {
    height: 27em;
  }
}

@media screen and (min-width: 1440px) {
  .ProjectCard {
    gap: 3.1em;
    height: auto;
  }
}

@media screen and (min-width: 1560px) {
  .ProjectCard {
    margin: 0em 1em;
  }
}

@media screen and (min-width: 1736px) {
  .SoftSkills,
  .Decouverte {
    height: 24em;
  }
}
