/* * {
  border: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  color: white;
  font-family: "Courier New", Courier, monospace;
}

#root {
  --title-color: #63bfcf;
}

body {
  background: radial-gradient(
    ellipse at 50% 50%,
    rgba(59, 85, 109, 1) 0%,
    rgba(11, 22, 44, 1) 65%
  );
  height: 300vh;
}

@media screen and (min-width: 1440px) {
  body {
    height: 250vh;
  }
}

.Presentation,
.Hard_Skills,
.Hard_Skills_List .Front_End,
.Back_End,
.Decouverte,
.Soft_Skills,
.Coordonnees {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  align-items: center;
  margin-bottom: 2rem;
} */

/* *********************** PRESENTATION ************************* */

/* .Presentation > img {
  border-radius: 90px 30px;
  margin-bottom: 2rem;
}

.Presentation > div {
  text-align: center;
}

.Presentation > div > h4 {
  font-size: 1.6rem;
  margin-bottom: 1rem;
}

.Presentation > div > p {
  text-align: justify;
  font-size: 1.4rem;
  line-height: 2rem;
}

@media screen and (min-width: 768px) {
  .Presentation > div > h4 {
    font-size: 2.2rem;
  }

  .Presentation > div > p {
    font-size: 1.6rem;
    margin: 0rem 1rem;
    line-height: 2.2rem;
  }
}

@media screen and (min-width: 1440px) {
  .Presentation {
    display: flex;
    flex-direction: row;
  }

  .Presentation > img {
    width: 30rem;
    margin-right: 3rem;
  }

  .Presentation > div {
    width: 60%;
  }
}

@media screen and (min-width: 1680px) {
  .Presentation > img {
    margin: 8rem;
  }

  .Presentation > div {
    width: 60%;
  }
} */

/* *********************** HARD-SKILLS ************************* */

/* .Hard_Skills > h1,
.Front_End > h2,
.Back_End > h2,
.Decouverte > h2,
.Soft_Skills > h1 {
  color: #63bfcf;
  font-size: 1.8rem;
  font-family: "Courier New", Courier, monospace;
}

.Front_End > div > p,
.Back_End > div > p,
.Decouverte > div > p,
.Soft_Skills_List > p {
  font-size: 1.5rem;
  text-align: center;
}

.Soft_Skills_List {
  text-align: center;
  margin-bottom: 5rem;
}

@media screen and (min-width: 768px) {
  .Hard_Skills > h1,
  .Soft_Skills > h1 {
    font-size: 2.6rem;
  }
  .Front_End > h2,
  .Back_End > h2,
  .Decouverte > h2 {
    font-size: 2.2rem;
    margin-bottom: 1rem;
  }

  .Front_End > div > p,
  .Back_End > div > p,
  .Decouverte > div > p {
    font-size: 2rem;
    line-height: 2.2rem;
  }

  .Soft_Skills > h1 {
    margin-bottom: 2rem;
  }

  .Soft_Skills_List {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 4rem;
  }

  .Soft_Skills_List > p {
    font-size: 2.2rem;
  }
}

@media screen and (min-width: 1440px) {
  .Skills_Container {
    display: flex;
    justify-content: space-evenly;
  }

  .Soft_Skills_List {
    display: flex;
    flex-direction: column;
  }
}

@media screen and (min-width: 1680px) {
  .Hard_Skills > h1 {
    margin-bottom: 3rem;
  }

  .Hard_Skills_List {
    display: flex;
    flex-wrap: wrap;
    gap: 12rem;
  }
} */

/* *********************** PROJETS **************************** */

/* .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Projects_Title {
  display: flex;
  justify-content: center;
  font-size: 1.8rem;
  color: #63bfcf;
}

.carrousel2 > img,
.carrousel3 > img,
.carrousel5 > img {
  width: 20rem;
  margin-top: 2rem;
  border-radius: 50px;
}

.carrousel1 > img,
.carrousel4 > img,
.carrousel6 > img {
  width: 26rem;
  margin-top: 2rem;
}

.carrousel7 > img {
  width: 25rem;
  margin-top: 2rem;
}

.carrousel1,
.carrousel2,
.carrousel3,
.carrousel4,
.carrousel5,
.carrousel6,
.carrousel7 {
  text-align: center;
  margin: 2rem 0rem;
}

.carrousel1 > h3,
.carrousel2 > h3,
.carrousel3 > h3,
.carrousel4 > h3,
.carrousel5 > h3,
.carrousel6 > h3,
.carrousel7 > h3 {
  margin-bottom: 1rem;
}

.carrousel1 > p,
.carrousel2 > p,
.carrousel3 > p,
.carrousel4 > p,
.carrousel5 > p,
.carrousel6 > p,
.carrousel7 > p {
  margin: 1rem 0rem;
}

.carrousel_inner > div > p > a:hover {
  color: #63bfcf;
  transition: 0.3s ease;
}

@media screen and (min-width: 768px) {
  .Projects_Title {
    font-size: 2.6rem;
  }

  .carrousel1 > h3,
  .carrousel2 > h3,
  .carrousel3 > h3,
  .carrousel4 > h3,
  .carrousel5 > h3,
  .carrousel6 > h3,
  .carrousel7 > h3 {
    font-size: 1.8rem;
    margin: 0rem 1rem 2rem 1rem;
  }

  .carrousel1 > p,
  .carrousel2 > p,
  .carrousel3 > p,
  .carrousel4 > p,
  .carrousel5 > p,
  .carrousel6 > p,
  .carrousel7 > p {
    font-size: 1.6rem;
    margin: 0rem 1rem;
    line-height: 2.2rem;
  }

  .carrousel2 > img,
  .carrousel3 > img,
  .carrousel5 > img {
    width: 25rem;
  }

  .carrousel1 > img,
  .carrousel4 > img,
  .carrousel6 > img {
    width: 35rem;
  }

  .carrousel7 > img {
    width: 38rem;
  }
}

@media screen and (min-width: 1440px) {
  .carrousel1 > p,
  .carrousel2 > p,
  .carrousel3 > p,
  .carrousel4 > p,
  .carrousel5 > p,
  .carrousel6 > p,
  .carrousel7 > p {
    margin: 0rem 3rem;
  }

  .carrousel2 > img,
  .carrousel3 > img,
  .carrousel5 > img {
    width: 30rem;
  }

  .carrousel1 > img,
  .carrousel4 > img,
  .carrousel6 > img {
    width: 70rem;
  }

  .carrousel7 > img {
    width: 80rem;
  }
}

@media screen and (min-width: 1680px) {
  .carrousel1 > p,
  .carrousel2 > p,
  .carrousel3 > p,
  .carrousel4 > p,
  .carrousel5 > p,
  .carrousel6 > p,
  .carrousel7 > p {
    margin: 0rem 15rem;
    font-size: 1.8rem;
  }

  .carrousel1 > img,
  .carrousel4 > img,
  .carrousel6 > img {
    width: 85rem;
  }

  .carrousel7 > img {
    width: 95rem;
  }
} */

/* *********************** CARROUSEL ****************************** */

/* .carrousel_inner > div {
  display: none;
}

.carrousel_inner > div:first-child {
  display: block;
}

.carrousel_controls {
  display: flex;
  justify-content: space-evenly;
}

.prev_button,
.next_button {
  width: 8rem;
  height: 2.4rem;
  border-radius: 6px;
  color: black;
  font-weight: 700;
  background-color: #63bfcf;
  font-size: 1.4rem;
}

.prev_button:hover,
.next_button:hover {
  background-color: #86deee;
  transition: 0.3s;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .prev_button,
  .next_button {
    width: 10rem;
    height: 3rem;
    font-size: 1.6rem;
  }
}

@media screen and (min-width: 1440px) {
  .carrousel_inner {
    margin-bottom: 5rem;
  }

  .prev_button,
  .next_button {
    width: 15rem;
    margin-bottom: 5rem;
  }
} */

/* *********************** COORDONNEES **************************** */

/* .Coordonnees {
  margin-top: 2rem;
}

.Coordonnees > div {
  display: flex;
  align-items: center;
  text-align: center;
  margin: 2rem 0rem;
}

.Coordonnees > div > img {
  filter: invert(100%);
  width: 3rem;
  margin-right: 1.5rem;
}

.Coordonnees > div > a {
  font-size: 1.5rem;
}

.Coordonnees > div > a:hover {
  color: #63bfcf;
  transition: 0.3s;
}

@media screen and (min-width: 768px) {
  .Coordonnees > div > a {
    font-size: 1.8rem;
  }
}

@media screen and (min-width: 1440px) {
  .Coordonnees {
    display: flex;
    flex-direction: row;
    gap: 3rem;
    justify-content: center;
  }
}

@media screen and (min-width: 1680px) {
  .Coordonnees {
    gap: 12rem;
  }
} */

* {
  border: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  color: rgb(0, 0, 0);
  font-family: "Faustina", serif;
}

body {
  background-color: rgb(233, 233, 233);
  width: 100%;
  height: 100vh;
}

/********* HEADER **********/

.Header {
  position: fixed;
  top: 0;
  z-index: 1000;
  width: 100%;
  display: flex;
  justify-content: space-between;
  background: rgb(233, 233, 233);
  padding: 0.3em 0.5em;
  align-items: center;
  height: 3em;
  box-shadow: 0px 6px 6px -5px rgba(0, 0, 0, 0.75);
}

.Header > img {
  width: 1.5em;
}

.Header > img:hover {
  zoom: 110%;
  transition: 0.3s ease;
}

.MenuBurger {
  position: fixed;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  top: 3em;
  left: 100em;
  background-color: rgb(233, 233, 233);
  width: 100%;
  transition: left 0.8s ease;
  border-bottom: 1px solid #c8714a;
  border-bottom-left-radius: 0.5em;
  border-bottom-right-radius: 0.5em;
  border-left: 1px solid #c8714a;
  box-shadow: 0px 5px 5px -5px rgba(0, 0, 0, 0.75);
}

.MenuBurger.active {
  left: 0;
}

.MenuBurger > a {
  width: 100%;
  height: 3em;
  padding-top: 0.7em;
}

.MenuBurger > a:hover {
  background-color: #c8714a;
  transition: 1s ease;
  border-radius: 0.5em;
  box-shadow: 0px 5px 5px -5px rgba(0, 0, 0, 0.75);
}

/********** DISPONIBILITE **********/

.Dispo {
  display: flex;
  justify-content: start;
  gap: 1em;
  align-items: center;
  text-align: center;
  margin: 5em 1em 2em 1em;
  border: 1px solid rgb(179, 179, 179);
  padding: 0.3em 0.3em 0.3em 0.9em;
  border-radius: 2em;
  font-size: 0.8em;
  background-color: #dddbdb;
}

.Dot {
  position: relative;
  width: 0.5em;
  height: 0.5em;
  background: #22c55e;
  border-radius: 50%;
  animation: blink 3s infinite;
  z-index: 0;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.3;
  }
  100% {
    opacity: 1;
  }
}
/********** AVATAR **********/

.Avatar {
  margin: 0em 2em;
}

.Avatar > img {
  width: 8em;
  border-top-left-radius: 2em;
  border-top-right-radius: 2em;
}

.Avatar > div {
  display: flex;
  align-items: center;
  text-align: center;
  margin: -0.25em 0em 0em -1em;
  gap: 0.7em;
  padding: 0.3em 0.5em;
  width: 12em;
  font-size: 0.8em;
  color: #c8714a;
  background: rgb(235, 235, 235);
  border-radius: 1em;
  box-shadow: 5px 5px 20px -5px rgba(0, 0, 0, 0.75);
}

.Avatar > div > img {
  width: 1.5em;
}

.Avatar > div > p {
  color: #c8714a;
}

/********** PRESENTATION **********/

.Presentation {
  margin: 1em 1em;
}

.Presentation > h2 {
  font-size: 2em;
}

.Presentation > h3 {
  font-size: 2em;
  font-style: italic;
  color: #c8714a;
  font-weight: 500;
}

.Presentation > p {
  font-weight: 700;
}

.Presentation > figcaption {
  margin: 1em 0em;
  font-size: 0.9em;
  font-weight: lighter;
}

.PresentationButton {
  display: flex;
  flex-direction: column;
  align-items: flex start;
  justify-content: start;
  text-align: center;
  margin-bottom: 2em;
}

.PresentationButton > button {
  border: 1px solid rgba(179, 179, 179, 179);
  border-radius: 0.5em;
  height: 3em;
  width: 15em;
}

.PresentationButton > button:first-child {
  background: #1e3a5f;
  color: white;
  font-weight: bold;
  margin-bottom: 1em;
}

.PresentationButton > button:first-child:hover {
  transform: scale(101%);
  box-shadow: 1px 1px 10px -1px rgba(49, 49, 49, 0.75);
  background: #254774;
  transition: 0.3s ease;
}

.PresentationButton > button:last-child:hover {
  color: #c8714a;
  border: 1px solid #c8714a;
  transition: 0.3s ease;
}

/********** STATS **********/

.Stats {
  display: flex;
  align-items: center;
  text-align: center;
  background: #d8d4cc;
  width: 100%;
}

.Stats > div {
  border: 1px solid #d1cec5;
  width: 100%;
  height: 5em;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.Stats > div > h3 {
  color: #c8714a;
}

.Stats > div > p {
  font-size: 0.8em;
  font-weight: 200;
}

/********** A PROPOS **********/

.InfoPerso {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 2em 0em;
  width: 100%;
}

.Apropos > h1 {
  font-size: 0.8em;
  font-weight: 500;
  color: #c8714a;
  margin-left: 1em;
}

.Apropos > h2 {
  font-size: 2em;
  margin: 0.1em 1em 0.3em 0.3em;
}

.Apropos > h2 > span {
  font-style: italic;
  color: #c8714a;
  margin-right: 0.2em;
}

.Apropos > p {
  margin: 0em 1em 2em 0.6em;
  width: 95%;
}

.Formation,
.Zone,
.Goal,
.Langage {
  display: flex;
  flex-direction: column;
  align-items: start;
  border: 1px solid #b8b5ae;
  border-radius: 1em;
  background: #d8d4cc;
  width: 18em;
  height: 7em;
  margin: 0em 1em 1em 0.5em;
}

.Formation > img,
.Zone > img,
.Goal > img,
.Langage > img {
  width: 1.7em;
  margin: 1em 0em 0em 1em;
}

.Formation > p,
.Zone > p,
.Goal > p,
.Langage > p {
  margin: 0.5em 0em 0.2em 1em;
  font-size: 0.8em;
}

/********** SKILLS **********/

.Skills {
  background: #d8d4cc;
  border-top: 1px solid #b8b5ae;
  border-bottom: 1px solid #b8b5ae;
  padding: 1em 1em;
}

.Skills > div > h1 {
  font-size: 0.8em;
  font-weight: 500;
  color: #c8714a;
}

.Skills > div > h2 {
  font-size: 2em;
}

.Skills > div > h2 > span {
  color: #c8714a;
  font-style: italic;
}

.Skills > div > p {
  font-size: 0.8em;
  font-weight: 200;
  color: gray;
  margin-bottom: 2em;
}

.Technos {
  display: flex;
  flex-wrap: wrap;
  align-items: start;
  text-align: start;
  gap: 1em;
  width: 100%;
}

.HardSkills,
.SoftSkills,
.Decouverte {
  border: 1px solid #b8b5ae;
  border-radius: 1em;
  padding: 1em;
  flex: 1;
  min-width: 18em;
}

/********** HARDSKILLS **********/

.HardSkillsTitle {
  display: flex;
  align-items: center;
  margin-bottom: 1em;
}

.HardSkillsTitle > img {
  width: 2em;
  margin-right: 1em;
}

.HardSkillsTitle > h4 {
  font-size: 0.9em;
  font-weight: 500;
}

.OrgaSkills {
  display: flex;
  flex-direction: column;
}

.Front > div,
.Back > div,
.Outils > div,
.Donnees > div {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5em;
}

.Front > div > p,
.Back > div > p,
.Outils > div > p,
.Donnees > div > p {
  font-weight: 500;
  font-size: 0.9em;
}

.Front > div > p:last-child,
.Back > div > p:last-child,
.Outils > div > p:last-child,
.Donnees > div > p:last-child {
  color: #a54d25;
}

.HrFront,
.HrBack,
.HrOutils,
.HrDonnees {
  width: 100%;
  height: 0.35em;
  background: rgb(196, 195, 195);
  border-radius: 0.3em;
}

.HrFront > hr {
  width: 70%;
  height: 100%;
  border-radius: 0.3em;
  background: linear-gradient(
    90deg,
    rgba(32, 59, 95, 1) 0%,
    rgba(197, 112, 75, 1) 100%
  );
}

.HrBack > hr {
  width: 60%;
  height: 100%;
  border-radius: 0.3em;
  background: linear-gradient(
    90deg,
    rgba(32, 59, 95, 1) 0%,
    rgba(197, 112, 75, 1) 100%
  );
}

.HrOutils > hr {
  width: 60%;
  height: 100%;
  border-radius: 0.3em;
  background: linear-gradient(
    90deg,
    rgba(32, 59, 95, 1) 0%,
    rgba(197, 112, 75, 1) 100%
  );
}

.HrDonnees > hr {
  width: 50%;
  height: 100%;
  border-radius: 0.3em;
  background: linear-gradient(
    90deg,
    rgba(32, 59, 95, 1) 0%,
    rgba(197, 112, 75, 1) 100%
  );
}

.HardSkillsList {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5em;
  margin-top: 1em;
}

.HardSkillsList > p {
  border: 1px solid #b8b5ae;
  padding: 0.5em 1.4em;
  border-radius: 1.2em;
  font-weight: 600;
  font-size: 0.8em;
  background: #d4d3d3;
}

/********** SOFTSKILLS **********/

.SoftSkillsTitle {
  display: flex;
  align-items: center;
  margin-bottom: 1em;
}

.SoftSkillsTitle > img {
  width: 2em;
  margin-right: 1em;
}

.SoftSkillsTitle > h4 {
  font-size: 0.9em;
  font-weight: 500;
}

.SoftSkillsList {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5em;
  margin-top: 1em;
}

.SoftSkillsList > p {
  border: 1px solid #c8714a;
  color: #a54d25;
  font-weight: 600;
  padding: 0.5em 1.4em;
  border-radius: 1.2em;
  font-size: 0.8em;
  background: #e4cebca6;
}

/********** DECOUVERTE **********/

.Decouverte {
  margin-bottom: 1em;
}

.DecouverteTitle {
  display: flex;
  align-items: center;
  margin-bottom: 1em;
}

.DecouverteTitle > img {
  width: 2em;
  margin-right: 1em;
}

.DecouverteTitle > h4 {
  font-size: 0.9em;
  font-weight: 500;
}

.DecouverteList {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5em;
  margin-top: 1em;
}

.DecouverteList > p {
  border: 1px solid #b8b5ae;
  color: rgb(33, 33, 102);
  font-weight: 600;
  padding: 0.5em 1.4em;
  border-radius: 1.2em;
  font-size: 0.8em;
  background: #d1d1da;
}

/********** PROJETS **********/

.ProjectTitle {
  padding: 1em;
}

.ProjectTitle > h1 {
  font-size: 0.8em;
  font-weight: 500;
  color: #c8714a;
}

.ProjectTitle > h2 {
  font-size: 2em;
}

.ProjectTitle > h2 > span {
  color: #c8714a;
  font-style: italic;
}

.ProjectTitle > p {
  font-size: 0.8em;
  font-weight: 200;
  color: gray;
  margin-bottom: 1em;
}
.ProjectCard {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1em;
}

.FlipCard {
  position: relative;
  perspective: 1000px;
  cursor: pointer;
  height: 17.4em;
  width: 18em;
  align-items: center;
  text-align: center;
}

.FlipCardFront *,
.FlipCardBack * {
  pointer-events: none;
}

.FlipCardRotate {
  position: relative;
  width: 100%;
  height: 89%;
  transform-style: preserve-3d;
  transition: transform 0.6s ease;
}

.FlipCard.flipped .FlipCardRotate {
  transform: rotateY(180deg);
}

.FlipCardBack {
  transform: rotateY(180deg);
}

.FlipCardFront,
.FlipCardBack {
  position: absolute;
  inset: 0;
  backface-visibility: hidden;
  border-radius: 16px;
  border: 1px solid rgb(184, 183, 183);
  width: 18em;
  box-shadow: 0px 0px 8px -4px rgba(0, 0, 0, 0.73);
}

.FlipCardFront > img,
.FlipCardBack > img {
  width: 100%;
  border-top-right-radius: 1em;
  border-top-left-radius: 1em;
  height: 10em;
}

.FlipCardFront > p {
  display: flex;
  justify-content: center;
  background: #ede9e1;
  border-bottom-left-radius: 1em;
  border-bottom-right-radius: 1em;
  font-size: 0.8em;
  align-items: center;
  height: 2.5em;
}

.FlipCardFront > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0em 1em;
  background: white;
  height: 3em;
}

.FlipCardFront > div > p {
  border: 1px solid #a54d25;
  color: #a54d25;
  background: #f9f0eb;
  padding: 0.2em 0.5em;
  border-radius: 2em;
}

.FlipCardBack {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  text-align: start;
}

.FlipCardBack > div:first-child {
  margin: 1em 1em 2em 1em;
}

.FlipCardBack > div:first-child > h2 {
  margin-bottom: 0.3em;
}

.FlipCardBack > div:first-child > p {
  font-size: 0.8em;
  font-weight: 100;
}

.FlipCardBackStack {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0em 1em;
}

.FlipCardBackStack > p {
  border: 1px solid rgb(160, 160, 160);
  background: rgba(204, 199, 194, 0.363);
  padding: 0.3em 0.8em;
  margin: 0em 0.5em 0.5em 0em;
  border-radius: 1em;
  font-size: 0.8em;
}

.FlipCardBack > ul > li > a {
  margin: 0.3em 0em 0em 1em;
  font-size: 0.8em;
  color: #a54d25;
  font-weight: 600;
}

/********** CONTACT **********/

.ContactContainer {
  background: #d8d4cc;
}

.ContactTitle {
  padding: 1em;
  width: 100%;
  border-top: 1px solid #d1d1da;
}

.ContactTitle > h1 {
  font-size: 0.8em;
  font-weight: 500;
  color: #c8714a;
}

.ContactTitle > h2 {
  font-size: 2em;
}

.ContactTitle > h2 > span {
  color: #c8714a;
  font-style: italic;
}

.ContactTitle > p {
  font-size: 0.8em;
  font-weight: 200;
  color: gray;
  margin-bottom: 1em;
}

.Email,
.Linkedin,
.Github,
.Smartphone {
  border: 1px solid gray;
  margin-bottom: 1em;
}

/********** FOOTER **********/

footer {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 3em;
  background: #1a1a2e;
  margin-top: 1em;
}

footer > p {
  width: 20em;
  font-size: 0.8em;
  color: rgb(197, 197, 197);
}

footer > p:last-child {
  margin-bottom: 0.5em;
}

footer > p > span {
  color: #c8714a;
}
